target
*.class
*.log
data
eventhubs-service/src/main/resources/azure-credentials.json
eventhubs-service/azure-credentials.auth
kafka-service/configs/demo-*.yml
kafka-service/demo-*.yml
kafka-service/sample-*.yml
